/***************************************************************/
/* Created: 5/25/2017 by Troy Center, troycenter1@gmail.com.   */
/* Coding Dojo HTML CSS Training                               */
/***************************************************************/

/***************************************************/
/*               CSS reset settings                */
/***************************************************/

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/***************************************************/
/*               Header                            */
/***************************************************/

#theinternetbar{
    height: 80px;
    width: 970px;
}
#thewwwbar{
    height: 60px;
    width: 970px;
    background: linear-gradient(#24669f,#5082ab,#24669f);
}
header img{
        left: 5px;
        position: absolute;
        z-index: 1;
}
header h1{
    position: relative;
    left: 120px;
    top: 40px;
    font-weight: lighter;
    font-size: 35px;
}
header h1 span{
    color: #2b6ba2;
}
header #thewwwbar h2{
    color: white;
    position: relative;
    top: 15px;
    left: 15px;
    font-weight: lighter;
    font-size: 25px;
}

/***************************************************/
/*          MAIN Section                           */
/***************************************************/

#main{
    width: 970px;
    height: 700px;
    display: inline-block;
}
#pagebackground{
    Height: 200px;
    width: 970px;
    background: linear-gradient(#e3e3e3, white); 
    position: absolute;
}
#leftsidemain{
    Width: 220px;
    height: 700px;
    display: inline-block;
}
#rightsidemain{
    width: 750px;
    height: 700px;
    display: inline-block;
    vertical-align: top;
    position: relative;
 }

/***************************************************/
/*          Whats an Internet?  Section            */
/***************************************************/

#whatsaninternet{
    width: 200px;
    position: relative;
    top: 20px;
    left: 15px;
}
#whatsaninternet h3{
    color: black;
    font-size: 14px; 
    font-weight: bolder;
    line-height: 30px;
    position: relative;
    left: -23px;
}
#whatsaninternet h3 span{
    color: red;
}
#whatsaninternet p{
    font-weight: bold;
    font-size: 12px;
}
#whatsaninternet p span{
    color: #306a9c;
}
#watchavideobutton input{
    color: white;
    background: linear-gradient(#6096c1, #306a9c);
    height: 30px;
    width: 180px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    position: relative;
    top: 5px;
}
#moreresourcesbutton input{
    color: white;
    background: linear-gradient(#edb86d, #ef7300);
    height: 30px;
    width: 180px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    position: relative;
    top: 10px;
}
#horizontalgroove{
    position: relative;
    top: 30px;
    width: 180px;
    border-top: groove 2px silver;
}

/***************************************************/
/*         Dojo Advertisement  section             */
/***************************************************/

#dojoad{ 
    width: 200px;
    position: relative;
    left: 10px;
}
#dojoad header{
    width: 140px;
    position: relative;
    top: 100px;
    left: 20px;
}
#dojoad header,h3{
    color: white;
    z-index: 1;
    font-weight: lighter;
    text-align: center;    
}
#dojoadimage{
    width: 180px;
    position: relative;
    left: 5px;
    top: 15px;
}
#dojoninjaimage{
    width: 80px;
    position: relative;
    left: 50px;
    top: -160px;    
}
#dojoad input{
    height: 30px;
    width: 160px;
    color: white;
    font-weight: bold;
    background: radial-gradient(#79d0df, #02b6d3);
    border-radius: 8px;
    z-index: 1;
    position: relative;
    top: -150px;
    left: 15px;
}
#learnmoretext{
    color: white;
    position: relative;
    top: -177px;
    left: 45px;
    z-index: 1;
}
#learnmorearrows{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0.05, #78dae9), color-stop(.1, #ffffff) );
    background-image: gradient( linear, left top, right top, color-stop(0.05, #78dae9), color-stop(.1, #ffffff) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    left: 130px;
    top: -192px;
    z-index: 1;
    font-weight: bolder;
    font-size: 12px;
}

/***************************************************/
/*     Right Side Main Header Section              */
/***************************************************/

/* #rightsidemain CSS Is up at the top of the CSS file */

.homeimage{
    height: 25px;
    width: 25px;
    position: relative;
}
.phoneimage{
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
    left: 440px;
}
#rightsidemain h1{
    color: #5184af;
    position: relative;
    top: -25px;
    left: 35px;
    font-size: 18px;
    font-weight: 500;
}
.headerfineprint{
    color: #747474;
    text-align: right;
    font-size: .7em;
    position: relative;
    top: -65px;
    right: 20px;
}
.headerphonenumber{
    color: #05c0df;
    text-align: right;
    font-size: 2em;
    font-weight: bolder;
    position: relative;
    top: -65px;
    right: 20px;
}
#headergroove{
    border-bottom: 1px groove lightgray;
    Width: 740px; 
    position: relative;
    top: -50px;
}

/***************************************************/
/*     Right Side Clients and Servers Article      */
/***************************************************/

#clientsandservers{
    position: relative;
    top: -40px;
}
#clientsandservers p{
    font-size: 14px;    
}
#clientsandservers ul, ol{
    position: relative;
    left: 50px;
    font-size: 14px;
    margin-right: 80px;
} 
#clientsandservers li{
    padding: 5px;
}
#clientsandservers h2{
    font-weight: bolder;
}
.clientserverimage{
    height: 100px;
    position: relative; 
    left: 250px;
}

.blueheadertext{
    color: #3a75a8;
    padding: 5px;
}
.boldtext{
    font-weight: bold;
}
.bluetext{
    color: #29a8bc;

}

/***************************************************/
/*     Right Side The Big 3 Article                */
/***************************************************/

#thebig3{
    border-top: 5px solid #0085e0;
    border-left: 5px solid #0085e0;
    border-right: 5px solid #0085e0;
    height: 170px;
    box-shadow: 3px -3px 3px lightgrey;
    padding: 10px;
}
#thebig3 header, #thebig3 p {
    position: relative;
    left: 190px;
    top: -140px;
    padding: 5px;
    margin-right: 200px;
}
.big3image{
    height: 150px;
    position: relative;
    top: 10px;
    left: 10px;  
}
